@{
    ViewBag.Title = "Orderconfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var itemsInBasket = Model.Basket?.Items?.Count ?? 0;
}
@model GAdemo.Models.EcommerceViewModel
<div>
    <h1>En enkel ordre konfirmation</h1>

    <p>Products in orde: @itemsInBasket</p>

    @if (Model.Basket?.Items != null)
    {
        foreach (var product in Model.Basket.Items)
        {
            <span>@product.Name</span>
            <br />
        }
    } else{
        <h3>No product purchased</h3>
    }
</div>
@if (Model.Basket?.Items != null)
{
    <script>
        // Send transaction data with a pageview if available
        // when the page loads. Otherwise, use an event when the transaction
        // data becomes available.
        dataLayer.push({
            'ecommerce': {
                'purchase': {
                    'actionField': {
                        'id': '@Model.Purchase.Id',                         // Transaction ID. Required for purchases and refunds.
                        'affiliation': '@Model.Purchase.Affiliation',
                        'revenue': '@Model.Purchase.Revenue',                     // Total transaction value (incl. tax and shipping)
                        'tax': '@Model.Purchase.Tax',
                        'shipping': '@Model.Purchase.Shipping',
                        'coupon': '@Model.Purchase.Cupon'
                    },
                    'products': [
                         @foreach (var produt in Model.Basket.Items)
             {
                 <text>{
                             'name': '@produt.Name',
                             'id': '@produt.Id',
                             'price': '@produt.Price',
                             'brand': '@produt.Brand',
                             'category': '@produt.Category',
                             'variant': '@produt.Variant',
                             'quantity': @produt.Quantity,
                             'cupon': '@produt.Cupon'
                         },  </text>
             }
                    ]
                }
            }
        });
    </script>
}
